
.spinner-outer {
  width: 100%;
  height:90vh;
  background-color: transparent;
  filter: none!important;
}

.spinner{
  width:128px;
  margin-left:-64px;
}

.spinner-message{
  position:absolute;
  left:50%;
  margin-top:25%;
  width:300px;
  font-size:127%;
  line-height:100%;
  margin-left:-150px;
  text-align:center;
}

.spinner-container{
  pointer-events:none;
  position:fixed;
  width:100%;
  z-index: 100;
  padding-bottom:100%;
  top:50%;
  left:50%;
  margin-top:-50%;
  margin-left:-50%;
  animation:spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation:spinner-linspin 1568.23529647ms linear infinite
}

.spinner-container.inline{
  position: relative;
}

.spinner-container.fixed{
  top: 42%;
}

.spinner-rotator{
  position:absolute;
  width:100%;
  height:100%;
  -webkit-animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-left{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  overflow:hidden
}

.spinner-right{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden
}

.spinner-left{
  right:49%
}

.spinner-right{
  left:49%
}

.spinner-circle{
  box-sizing:border-box;
  position:absolute;
  width:200%;
  height:100%;
  border-style:solid;
  border-color:#3273dc #3273dc transparent;
  border-radius:50%;
  border-width:6px
}

.spinner-circle.grey{
  border-color:#cacaca #cacaca transparent;
}

.big-mode .spinner-circle{
  border-width:12px
}

.spinner-left .spinner-circle{
  border-right-color:transparent;
  -webkit-animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-right .spinner-circle{
  left:-100%;
  border-left-color:transparent;
  -webkit-animation:right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

@-webkit-keyframes spinner-linspin{
  to{
    -webkit-transform:rotate(360deg)
  }
}

@keyframes spinner-linspin{
  to{
    transform:rotate(360deg)
  }
}

@-webkit-keyframes spinner-easespin{
  12.5%{
    -webkit-transform:rotate(135deg)
  }
  25%{
    -webkit-transform:rotate(270deg)
  }
  37.5%{
    -webkit-transform:rotate(405deg)
  }
  50%{
    -webkit-transform:rotate(540deg)
  }
  62.5%{
    -webkit-transform:rotate(675deg)
  }
  75%{
    -webkit-transform:rotate(810deg)
  }
  87.5%{
    -webkit-transform:rotate(945deg)
  }
  to{
    -webkit-transform:rotate(1080deg)
  }
}

@keyframes spinner-easespin{
  12.5%{
    transform:rotate(135deg)
  }
  25%{
    transform:rotate(270deg)
  }
  37.5%{
    transform:rotate(405deg)
  }
  50%{
    transform:rotate(540deg)
  }
  62.5%{
    transform:rotate(675deg)
  }
  75%{
    transform:rotate(810deg)
  }
  87.5%{
    transform:rotate(945deg)
  }
  to{
    transform:rotate(1080deg)
  }
}

@-webkit-keyframes spinner-left-spin{
  0%{
    -webkit-transform:rotate(130deg)
  }
  50%{
    -webkit-transform:rotate(-5deg)
  }
  to{
    -webkit-transform:rotate(130deg)
  }
}

@keyframes spinner-left-spin{
  0%{
    transform:rotate(130deg)
  }
  50%{
    transform:rotate(-5deg)
  }
  to{
    transform:rotate(130deg)
  }
}

@-webkit-keyframes right-spin{
  0%{
    -webkit-transform:rotate(-130deg)
  }
  50%{
    -webkit-transform:rotate(5deg)
  }
  to{
    -webkit-transform:rotate(-130deg)
  }
}

@keyframes right-spin{
  0%{
    transform:rotate(-130deg)
  }
  50%{
    transform:rotate(5deg)
  }
  to{
    transform:rotate(-130deg)
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.scrollmap {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.scrollmap > a {
  display: block;
  opacity: 0;
  width: 2.75rem;
  height: 2.75rem;
  padding-left: 0.25rem; 
  margin:0.5rem;
  border-radius: 7px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  animation-name: opacity;
  animation-duration: 1s;
}

.scrollmap > a:hover {
  background-color: #ffeb00;
}

.scrollmap > a.active {
  opacity: 1;
}

.scrollmap .up {
  background-image: url('/img/select-i.png');
}

.scrollmap .down {
  background-image: url('/img/select.png');
}

.fadeIn {
  animation:.15s ease 0s normal forwards 1 fadeIn;
  -webkit-animation:.75s ease 0s normal forwards 1 fadeIn;
  opacity:0
}

@keyframes fadeIn{
  0%{opacity:0}
  80%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadeIn{
  0%{opacity:0}
  80%{opacity:0}
  100%{opacity:1}
}
.hero-picture {
  min-height: 50vh;
  padding: 1.25rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.hero-picture .title,
.hero-picture .subtitle {
  text-shadow: 0 0 2px #333;
  color: #fff;
}

.hero-picture .title {
  font-size: 2.5rem;
  padding: 0;
  padding-top: 7rem;
}

.hero-picture .subtitle {
  font-size: 1.5rem;
}
