<div class="sharebuttons">

    <!-- Email -->
    <a href="mailto:?Subject=ReFocus: Creative tool to increase your effectiveness at work&Body=Hello!%0D%0A%0D%0AI’ve just come across this really useful online tool that helped me to change my perspective and move out of my status quo. I think that you may find it helpful as well. Go ahead and try it!.%0D%0A%0D%0Ahttps://refocus.the-blue-ocean-company.com/"  target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://refocus.the-blue-ocean-company.com&t=ReFocus: Creative tool to increase your effectiveness at work" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google -->
    <!--a href="https://plus.google.com/share?url=https://refocus.the-blue-ocean-company.com&text=ReFocus: Creative tool to increase your effectiveness at work" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a-->
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://refocus.the-blue-ocean-company.com&text=ReFocus: Creative tool to increase your effectiveness at work" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
     
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://refocus.the-blue-ocean-company.com/&amp;text=ReFocus: Creative tool to increase your effectiveness at work;hashtags=refocus" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>